/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# Custom additions
/PHP/
/heroku-cli/
/mysql/
*.zip
*.tar.gz
/bootstrap/cache/
/database/migrations_backup/
backup_production_data.sql
extract_inserts.ps1
/storage/logs/
*.log
